!!!
%html
  %head
    %title= @title
    :plain
      <style>
      #content { width: 40em; color: #333; font-family: Georgia; }
      h1, h2, h3, h4 { font-family: "Gill Sans"; font-weight: 400; }
      h1 { font-size: 250%; margin-bottom: 0; }
      h2 { font-size: 180%; }
      h3 { font-size: 150%; }
      h4 { font-size: 120%; }
      p.subtitle { font-style: italic; font-size: 160%; color: #777; margin: 0; }
      p.last_updated { color: #aaa; font-size: 80%; }
      p { line-height: 1.4em; }
      a { color: #ff7700; }
      a:hover { color: #aa3300; }
      img { vertical-align: top; }
      code, pre, .sh-link { font-family: "Consolas", "Courier New", Courier, monospace; font-size: 0.9em; }
      code { color: #555; background: #eee; border: 1px solid #aaa; padding: 4px 0.2em 1px; -webkit-border-radius: 4px; }
      a code { text-decoration: underline; }
      .tag-cloud li { display: inline; font-style: none; }
      
      #content img { border: 1px solid #333; }
      
      #content img, .sh-code { box-shadow: 0px 2px 4px #aaa; }
      
      #content .noborder { border: none; box-shadow: none; }

      .diff {overflow:auto;}
      .diff ul{color:#000;background:#fff;overflow:auto;font-size:13px;list-style:none;margin:0;padding:0;display:table;width:100%;}
      .diff del, .diff ins{display:block;text-decoration:none;}
      .diff li{padding:0; display:table-row;margin: 0;height:1em;}
      .diff li.ins{background:#dfd}
      .diff li.del{background:#fdd}
      .diff li:hover{background:#ffc}
      /* try 'whitespace:pre;' if you don't want lines to wrap */
      .diff del, .diff ins, .diff span{white-space:pre-wrap;font-family:courier;}
      .diff del strong{font-weight:normal;background:#faa;}
      .diff ins strong{font-weight:normal;background:#afa;}

      /*{Pygments.style(:monokai, :html, ['-a', '.highlighttable'])}*/
      /* adapted from https://gist.github.com/803005 */
      .sh * { font-family: Consolas, Monaco,"Lucida Console"; }
      .sh .hll { background-color: #ffffcc }
      .sh .c { color: #5F5A60; font-style: italic } /* Comment */
      .sh .err { border:#B22518; } /* Error */
      .sh .k { color: #CDA869 } /* Keyword */
      .sh .cm { color: #5F5A60; font-style: italic } /* Comment.Multiline */
      .sh .cp { color: #5F5A60 } /* Comment.Preproc */
      .sh .c1 { color: #5F5A60; font-style: italic } /* Comment.Single */
      .sh .cs { color: #5F5A60; font-style: italic } /* Comment.Special */
      .sh .gd { background: #420E09 } /* Generic.Deleted */
      .sh .ge { font-style: italic } /* Generic.Emph */
      .sh .gr { background: #B22518 } /* Generic.Error */
      .sh .gh { color: #000080; font-weight: bold } /* Generic.Heading */
      .sh .gi { background: #253B22 } /* Generic.Inserted */
      .sh .go {  } /* Generic.Output */
      .sh .gp { font-weight: bold } /* Generic.Prompt */
      .sh .gs { font-weight: bold } /* Generic.Strong */
      .sh .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
      .sh .gt {  } /* Generic.Traceback */
      .sh .kc {  } /* Keyword.Constant */
      .sh .kd { color: #e9df8f;  } /* Keyword.Declaration */
      .sh .kn {  } /* Keyword.Namespace */
      .sh .kp { color: #9B703F } /* Keyword.Pseudo */
      .sh .kr {  } /* Keyword.Reserved */
      .sh .kt {  } /* Keyword.Type */
      .sh .m { } /* Literal.Number */
      .sh .s {  } /* Literal.String */
      .sh .na { color: #F9EE98 } /* Name.Attribute */
      .sh .nb { color: #CDA869 } /* Name.Builtin */
      .sh .nc { color: #9B859D; font-weight: bold } /* Name.Class */
      .sh .no { color: #9B859D } /* Name.Constant */
      .sh .nd { color: #7587A6 } /* Name.Decorator */
      .sh .ni { color: #CF6A4C; font-weight: bold } /* Name.Entity */
      .sh .nf { color: #9B703F; font-weight: bold } /* Name.Function */
      .sh .nn { color: #9B859D; font-weight: bold } /* Name.Namespace */
      .sh .nt { color: #CDA869; font-weight: bold } /* Name.Tag */
      .sh .nv { color: #7587A6 } /* Name.Variable */
      .sh .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
      .sh .w { color: #141414 } /* Text.Whitespace */
      .sh .mf { color: #CF6A4C } /* Literal.Number.Float */
      .sh .mh { color: #CF6A4C } /* Literal.Number.Hex */
      .sh .mi { color: #CF6A4C } /* Literal.Number.Integer */
      .sh .mo { color: #CF6A4C } /* Literal.Number.Oct */
      .sh .sb { color: #8F9D6A } /* Literal.String.Backtick */
      .sh .sc { color: #8F9D6A } /* Literal.String.Char */
      .sh .sd { color: #8F9D6A; font-style: italic; } /* Literal.String.Doc */
      .sh .s2 { color: #8F9D6A } /* Literal.String.Double */
      .sh .se { color: #F9EE98; font-weight: bold; } /* Literal.String.Escape */
      .sh .sh { color: #8F9D6A } /* Literal.String.Heredoc */
      .sh .si { color: #DAEFA3; font-weight: bold; } /* Literal.String.Interpol */
      .sh .sx { color: #8F9D6A } /* Literal.String.Other */
      .sh .sr { color: #E9C062 } /* Literal.String.Regex */
      .sh .s1 { color: #8F9D6A } /* Literal.String.Single */
      .sh .ss { color: #CF6A4C } /* Literal.String.Symbol */
      .sh .bp { color: #00aaaa } /* Name.Builtin.Pseudo */
      .sh .vc { color: #7587A6 } /* Name.Variable.Class */
      .sh .vg { color: #7587A6 } /* Name.Variable.Global */
      .sh .vi { color: #7587A6 } /* Name.Variable.Instance */
      .sh .il { color: #009999 } /* Literal.Number.Integer.Long */
      
      /* no line numbers */
      .sh-nolines .highlight { background: #181818; padding: 4px; }
      .sh-nolines .highlight pre { margin: 0; white-space: pre-wrap; }
      
      .sh { width: 42em; color: #F8F8F8; }
      .sh-code { overflow: hidden; background: #181818; border: 2px solid #181818; -webkit-border-radius: 12px; -webkit-border-top-right-radius: 0; }
      .highlighttable { margin: 0; padding: 0; border-collapse: collapse; }
      .highlighttable td { margin: 0; padding: 0; vertical-align: top; }
      .highlighttable .highlight { width: 39.4em; overflow: auto; padding: 6px 6px 3px; }
      .highlighttable .highlight a { position: absolute; margin-top: -2em; } /* vertical offset for hash-linking */
      .highlighttable .linenos { color: #aaa; background: #444; border-right: 2px solid #181818; -webkit-border-top-left-radius: 10px; -webkit-border-bottom-left-radius: 10px; }
      .highlighttable .linenodiv { padding: 6px 3px 3px 5px; }
      .highlighttable .linenodiv a { color: #aaa; text-decoration: none; }
      .highlighttable .linenodiv a:hover { color: #fff; text-decoration: underline; }
      .highlighttable pre { margin: 0; line-height: 125%; }
      .sh-link { text-align: right; }
      .sh-link a { text-decoration: none; color: #aaa; background: #181818; padding: 0.5em 0.5em 0.2em 0.6em; -webkit-border-top-left-radius: 10px; -webkit-border-top-right-radius: 10px; }
      .sh-link a:hover { text-decoration: underline; color: #fff; }

      /* adapted from http://beautifulpixels.com/goodies/create-custom-webkit-scrollbar/ */
      body ::-webkit-scrollbar { height: 12px; }
      ::-webkit-scrollbar-button:start, ::-webkit-scrollbar-button:end { display: none; }
      ::-webkit-scrollbar-track-piece, ::-webkit-scrollbar-thumb { -webkit-border-radius: 8px; }
      ::-webkit-scrollbar-track-piece { background-color: #444; }
      ::-webkit-scrollbar-thumb:horizontal { width: 50px; background-color: #777; }
      ::-webkit-scrollbar-thumb:hover { background-color: #aaa; }

    </style>
  %body
    %div{ style: 'float: left' }
      - if @index_back
        %a{ href: '/' } &laquo; Index
        |
      %a{ href: '/rebuild' } Rebuild
    %div{ align: 'right' }
      %a{ href: 'https://github.com/cowboy/gaucho' } Gaucho v#{Gaucho::VERSION}
      by
      %a{ href: 'http://benalman.com/' } Ben Alman
    %hr
    #content= yield
