!!!
%html
  %head
    %title= @title
    :plain
      <style>
      img { vertical-align: top; }

      .diff {overflow:auto;}
      .diff ul{color:#000;background:#fff;overflow:auto;font-size:13px;list-style:none;margin:0;padding:0;display:table;width:100%;}
      .diff del, .diff ins{display:block;text-decoration:none;}
      .diff li{padding:0; display:table-row;margin: 0;height:1em;}
      .diff li.ins{background:#dfd}
      .diff li.del{background:#fdd}
      .diff li:hover{background:#ffc}
      /* try 'whitespace:pre;' if you don't want lines to wrap */
      .diff del, .diff ins, .diff span{white-space:pre-wrap;font-family:courier;}
      .diff del strong{font-weight:normal;background:#faa;}
      .diff ins strong{font-weight:normal;background:#afa;}
      
      #{Pygments.style(:monokai, :html, ['-a', '.highlighttable'])}
      .highlighttable { border-collapse: collapse; }
      .highlighttable .linenos { color: #aaa; background: #444; padding: 4px 3px 4px 5px; }
      .highlighttable .linenos a { color: #aaa; text-decoration: none; }
      .highlighttable .linenos a:hover { color: #fff; text-decoration: underline; }
      .highlighttable td { border: 1px solid #444; padding: 4px 6px; }
      .highlighttable pre { margin: 0; line-height: 125%; }
    </style>
  %body
    %div{ style: 'float: left' }
      - if @index_back
        %a{ href: '/' } &laquo; Index
        |
      %a{ href: '/rebuild' } Rebuild
    %div{ align: 'right' }
      %a{ href: 'https://github.com/cowboy/gaucho' } Gaucho v#{Gaucho::VERSION}
      by
      %a{ href: 'http://benalman.com/' } Ben Alman
    %hr
    #content= yield
