!!!
%html
  %head
    %title= @title
    %link{ rel: 'stylesheet', type: 'text/css', href: '/css/site.css' }
    %script{ src: 'http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js' }
    %script{ src: '/js/site.js' }
  %body
    %div{ style: 'float: left' }
      - if @index_back
        %a{ href: '/' } &laquo; Index
        |
      %a{ href: '/rebuild' } Rebuild
    %div{ align: 'right' }
      %a{ href: 'https://github.com/cowboy/gaucho' } Gaucho v#{Gaucho::VERSION}
      by
      %a{ href: 'http://benalman.com/' } Ben Alman
    %hr
    #content= yield
